.container {
  height: 413px;
  padding: 48px 16px 53px 16px;
  overflow: hidden;
  width: var(--min-width);
  margin: 0 auto;
}

.header {
  color: var(--text-white);
  text-transform: uppercase;
  margin-bottom: 2px;
}

.onlineContainer {
  color: var(--card-text);
  display: flex;
  gap: 4px;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 24px;
}

.circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--card-text);
}

@media screen and (min-width: 1440px) {
  .container {
    min-height: 604px;
    width: var(--max-width);
    padding: 96px 80px 118px 80px;
  }
  .header {
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 127.273% */
    letter-spacing: -1.76px;
    margin-bottom: 4px;
  }
  .onlineContainer {
    margin-bottom: 72px;
  }
}
