.container {
  padding-top: 24px;
  width: var(--min-width);
  position: relative;
  padding-bottom: 125px;
  margin: 0 auto;
}
.rectangular {
  position: absolute;
  height: 82px;
  width: 272px;
  top: 0;
  left: 0;
  background-image: url('../../assets/rectangleMobile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}

.textContainer {
  position: relative;
  padding: 24px 16px 133px 17px;
  background-color: var(--background-color-white);
  z-index: 11;
}
.header {
  color: var(--text-button);
  margin-bottom: 20px;
  display: block;
  /* z-index: 1000; */
}

.text {
  font-size: 16px;
  line-height: 20px; /* 125% */
  opacity: 0.8;
}
/* .form {
  position: absolute;
  top: -2000px;
  left: 50%;
  transform: translateX(-50%);
  width: 272px;
  z-index: 2;
} */

.whiteWrap {
  background-color: var(--background-color);
  display: block;
  position: absolute;
  height: 24px;
  width: 100vw;
  top: 0px;
  left: 0;
}

.bottomBackGround {
  background-color: var(--background-color);
  display: block;
  position: absolute;
  height: 125px;
  width: 100%;
  bottom: 0px;
  left: 0;
}
.main {
  position: relative;
}

@media screen and (min-width: 1440px) {
  .container {
    width: var(--max-width);
    padding-top: 60px;
    padding-bottom: 92px;
    background-color: var(--background-color-white);
    padding-left: 80px;
  }
  .whiteWrap {
    height: 60px;
    top: 0px;
    left: 0;
  }
  .rectangular {
    height: 60px;
    width: 639px;
    background-image: url('../../assets/rectangleDesk.svg');
    z-index: 1000;
  }
  .textContainer {
    padding: 56px 0 0 0;
    display: block;
    width: 413px;
  }
  .header {
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 127.273% */
    letter-spacing: -1.76px;
    margin-bottom: 40px;
  }
  .tryForm {
    position: absolute;
    bottom: 100px;
    /* z-index: 200; */
  }
  .bottomBackGround {
    display: none;
  }
}
