.container {
  padding: 40px 16px 37px 16px;
  min-width: var(--min-width);
}
.pricePicture {
  display: block;
  width: 300px;
  margin-bottom: 33px;
}
.header {
  margin-bottom: 12px;
  display: block;
  max-width: 343px;
}

.text {
  display: block;
  color: var(--text-light);
  font-feature-settings: 'ss04' on;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 24px;
  max-width: 343px;
  opacity: 0.8;
}

.emailInputContainer {
  background-color: var(--background-color-input-hero);
  border-radius: 4px;
  height: 50px;
  position: relative;
  margin-bottom: 12px;
}
.emailInput {
  width: calc(100% - 102px);
  height: 100%;
  background: transparent;
  border: none;
  padding: 15px 16px;
  color: var(--text-white);
  /* opacity: 0.34; */
  outline: none;
  border: none;
  text-transform: none;
}
.submitButton {
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: var(--background-color-button);
  border-radius: 3px;
  border: none;
  padding: 11px 24px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  color: var(--text-button);
}
.freeTrialText {
  color: var(--text-white);
  font-feature-settings: 'ss04' on;
  font-family: 'IBM Plex Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.3;
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 160px 80px 134px;
    min-width: var(--max-width);
    position: relative;
  }
  .pricePicture {
    width: 469px;
    height: 209px;
    position: absolute;
    top: 164px;
    right: 133px;
  }
  .header {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 120% */
    letter-spacing: -2.4px;
    text-transform: uppercase;
    max-width: 640px;
  }
  .text {
    max-width: 565px;
  }
  .emailInputContainer {
    height: 60px;
    width: 500px;
  }
  .emailInput {
    width: calc(100% - 102px);
    padding: 20px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.16px;
  }
  .submitButton {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: var(--background-color-button);
    border-radius: 4px;
    height: 52px;
    padding: 16px 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}
