.container {
  position: relative;
  padding-left: 10px;
  height: 52px;
  width: 100%;
  min-width: var(--min-width);
}
.tradeBladeIcon {
  height: 52px;
  width: 107.11px;
}
.burgerIcon {
  width: 32px;
  height: 32px;
}

.burgerLink {
  position: absolute;
  top: 9px;
  right: 8px;
}
