:root {
  font-family: 'IBM Plex Sans';
  line-height: 1.5;
  font-weight: 400;

  --min-width: 375px;
  --background-color: #030718;
  --background-color-white: #fff;
  --background-color-button: #57e1ff;
  --background-color-input-hero: #201a4f;
  --box-shadow: 0px 0px 4px 0px var(--background-color-button);
  --text-white: #fff;
  --text-light: #e7f7f8;
  --text-black: #000;
  --text-button: var(--background-color);
  --purple: #6a54ff;
  --card-text: #35ff9e;
}

body {
  background-color: var(--backGroundColor);
  /* width: 100%; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  font-weight: 500;
  color: var(--textColor);
  text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* width: 100%; */
  min-width: var(--min-width);
  justify-content: center;
}

h1 {
  color: var(--text-white);
  font-feature-settings: 'case' on, 'ss04' on;
  font-family: 'IBM Plex Sans';
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px /*125.714%*/;
  letter-spacing: -1.4px;
  text-transform: uppercase;
}

h2 {
  font-feature-settings: 'case' on, 'ss04' on;
  font-family: 'IBM Plex Sans';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  letter-spacing: -1.12px;
  text-transform: uppercase;
}

p {
  font-family: 'IBM Plex Sans';
}

button {
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  background-color: var(--background-color-button);
  cursor: pointer;
  color: var(--text-button);
  transition: border-color 0.25s;
  transition: scale 0.25s, border-color 0.25s;
  box-shadow: var(--box-shadow);
}
button:hover,
button:focus {
  scale: 1.05;
}

.buttonText {
  font-feature-settings: 'ss04' on;
  font-family: 'IBM Plex Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.857%;
  text-transform: uppercase;
}

.swiperWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
}

.swiper-scrollbar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(13px, 26px);
  overflow: visible !important;
  width: 311px !important;
  height: 6px !important;
  background: #434f70 !important;
  border-radius: 56px !important;
}

.swiper-scrollbar-drag {
  height: 6px !important;
  background: #6073a1 !important;
  border-radius: 56px !important;
  transition: width 0.3s ease;
}
